<div class="control-group">
  <label class="control-label" for="user_email">Email:
  </label>
  <div class="controls">
    <%= form.text_field :email, :class => "input-xlarge", :autofocus => true %>
  </div>
</div>

<div class="control-group">
  <label class="control-label" for="user_password">Password:
  </label>
  <div class="controls">
    <%= form.password_field :password, :class => "input-xlarge" %>
  </div>
</div>


<div class="control-group">
  <label class="control-label" for="user_password_confirmation">Password Confirmation:
  </label>
  <div class="controls">
    <%= form.password_field :password_confirmation, :class => "input-xlarge" %>
  </div>
</div>
