<% content_for :title, "Edit profile" %>

<%= form_for @user, :url => user_path(@user), :html => {:class => "form-horizontal"}  do |form| %>

  <fieldset>
    <%= render :partial => "shared/errors", locals: { object: @user} %> 

    <%= render :partial => "users/form", locals: { form: form} %>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Update</button>
    </div>

  </fieldset>

<% end %>
