// Place all the styles related to the Versions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ins {
  color: green;
}

del {
  color: red;
}

.version-metadata {
  p.creation { color: #777; font-style: italic; }
}
